* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --ff-primary: 'Roboto', sans-serif;

  --text-primary-color: hsla(240, 9%, 89%, 1);
  --text-secondary-color: #7C7C8A;
  --text-action-color: #f75a68;
  --text-nofavorites-color:#4E5455;

  --bg-body-color: #000000;

  --button-color: #065e76;
  --button-hover-color: #FFFFFF;
  

  --primary-color: #06181c;
  --secondary-color: hsla(195, 61%, 6%, 50%);
  --thead-color: #092d38;

  --scrollbar-color:#4a808c;
  --scrollbar-bg-color: transparent;

}

.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}


body {
  font-size: 1.6rem;
  background: var(--bg-body-color);
  color: white;
  height: 100%;
  padding: 16rem;
}

body * {
  font-family: var(--ff-primary);
}

#app{
  max-width: 1120px;
  margin: 0 auto;
}

header {
  width: 100%;
  padding: 6rem 0;
  display: flex;
  gap:28rem;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.search {
  display: flex;
  gap: 0.8rem;
}

header input {
  font-weight: 400;
  width: 46.2rem;
  height: 4.8rem;
  background: var(--primary-color);
  border: none;
  border-radius: 0.5rem;
  padding: 1.6rem;
  color: #7c7c8a;
}

.favorites {
  width: 17rem;
  height: 4.8rem;
  background:var(--button-color);
  border: none;
  border-radius: 0.5rem;
  font-weight: 700;
  padding: 1.2rem 3.2rem;
  color: var(--text-color);
  display: flex;
  align-items: center;
  text-align: center;
  gap: 0.8rem;
  text-transform: uppercase;
  cursor: pointer;
}
.favorites:hover {
  background-color: var(--text-primary-color);
  color: var(--button-color);
  border: none;
  border-radius: 0.5rem;
}
.favorites:hover svg path{

  fill: var(--button-color);
}

table {
  width: 100%;
  border-collapse: collapse;
  overflow-y: auto;
}
table * {
  font-size: 2rem;
}

table th {
  background: var(--thead-color);
  text-align: left;
  height: 6.4rem;
  padding: 1.6rem 4rem 1.6rem;
  position: sticky;
  top: 0;
}

.table-wrapper {
  margin-top: min(4rem, 10vw);
  max-height: 68rem;
  overflow: auto;
  border-radius: 1.2rem;
  border: 2px solid #4A808C;
  position: relative;
}

table th:first-child{
  border-top-left-radius: 0.5rem;
}

table th:last-child {
  border-top-right-radius: 0.5rem;
  
}

table tr:nth-child(even) {
  background: var(--primary-color);
  border-bottom: 2px solid var(--button-color);

}

table tr:nth-child(odd) {
  background: var(--secondary-color);
  border-bottom: 2px solid var(--thead-color);

}

table td {
  padding:4rem;
  text-align:left;

}
.user {
  display: flex;
  gap:1.6rem;
  padding:2.4rem 4rem ;
}

td.user img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;

}

.remove {
  cursor: pointer;
  color: var(--text-action-color);
  background-color: none;
  border: none;
  background: none;
}

.remove:hover {
  color: #f63141
}
.noFavorites{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 22rem;
  background-color:var(--primary-color);
  color: var(--text-nofavorites-color);

}
.noFavorites p {
  font-family: 'Roboto Mono', sans-serif;
  font-size: 4rem;
  font-weight: bold;
}
.hide {
  display: none;
  position: relative;
}
